@use 'variables' as var;


    .cookies{
    height: 60px;
    background-color: var.$sencondaryBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .cookies-text{
        font-size: 0.6rem;
        margin-left: 10px;
    }

    .cookies-btn{
        height: 35px;
        width: 50px;
        font-size: 0.6rem;
        
        padding: {
            left: 5px;
            
        }
    }
    }

    @media only screen and (min-width: 322px){
        .cookies{
    
            .cookies-text{
                font-size: 0.7rem;
            }
        
            .cookies-btn{
                height: 35px;
                width: 60px;
                font-size: 0.7rem;
                
                padding: {
                    left: 7px;
                }
            }
            }
    }



