@use 'variables' as var;

.disabledBtn{
       background-color: #3F342A;
}

.subscribe-newsletter{
    display: none;
}

@media only screen and (min-width: 768px){
    
    .subscribe-newsletter {
        display: block;
        /*width: 759px;*/
        width: 42em;
        height: 160px;
        border: var.$primaryColor solid 1px;
        border-radius: 15px;
        color: var.$secondaryYellow;
        margin: 0 auto;
        margin-top: 3em;
        h2 {
            text-align: center;

            margin: {
                top: 20px;
                bottom: 20px;
            }

            font: {
                weight: 400;
                size: 2.25rem;
            } 
        }
        form {
            text-align: center;
            input {
                background: none;
                width: 430px;
                font-size: 2.25rem;
                margin-right: 10px;

                border: {
                    top: none;
                    left: none;
                    right: none;
                    bottom: 1px solid var.$primaryColor;
                }
            }
            button {
                font-size: 28px;
                width: 150.85px;
                height: 45.51px;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .subscribe-newsletter {
        width: 750px;
        height: 147px;
        border: var.$primaryColor solid 1px;
        h2 {
            text-align: start;
            width: 100%;

            margin: {
                left: 10px;
                top: 0;
                bottom: 25px;
            }
        }
        form {
            input {
                width: 400px;
            }
        }
    }
}

