@use 'variables' as var;

* {
    box-sizing: border-box;
}

.subscribe-newsletter{
    display: none;
}

@media only screen and (min-width: 768px){
    
    .subscribe-newsletter {
        display: block;
        width: 95vw;
        height: 160px;
        border: var.$primaryColor solid 1px;
        border-radius: 15px;
        margin: 0 auto;
        color: var.$secondaryYellow;
        h2 {
            text-align: center;
            width: 100%;

            margin: {
                top: 20px;
                bottom: 20px;
            }

            font: {
                weight: 400;
                size: 2.25rem;
            } 
        }
        form {
            text-align: center;
            input {
                background: none;
                width: 70vw;
                font-size: 2.25rem;

                border: {
                    top: none;
                    left: none;
                    right: none;
                    bottom: 1px solid var.$primaryColor;
                }
            }
            button {
                font-size: 28px;
            }
        }
    }
}

