@use 'variables' as var;

@mixin button{
    background-color: var.$primaryColor;
    color: white;
    font-family: var.$prostoOne;
    border-radius: 100px;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin removeVisuallyHidden{
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    border: unset;
    padding: unset;
  
    white-space: unset;
    clip-path: unset;
    clip: unset;
    overflow: unset;
}

header{
    margin-top: 5rem;

    .header-flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    picture{
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .firefly-container{
        position: relative;
    }

    #firefly{
        align-self: center;
        height: 6em;
        width: 4em;
        position: absolute;
        left: -2.5em;
        top: -3em;
    }

    h1{
        color: var.$primaryColor;
        font-size: 36px;
        margin-bottom: 0;
    }

    h2, h3{
        color: var.$secondaryYellow;
    }

    h3{
        position: absolute;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1.2rem;
        font-size: 16px;
        top: 4rem;
    }

    p{
        max-width: 85%;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    button.learnMore-btn{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
    }

}

@media screen and (min-width: 481px) {
    header{
        margin-top: 3.5rem;

        #firefly{
            height: 7em;
            width: 6em;
            top: -3.4rem;
            left: -3rem;
        }

        h1{
            font-size: 50px;
        }

        h3{
            top: 5.3rem;
            left: -3px;
        }

        p{
            max-width: 60%;
        }
    }
}

@media screen and (min-width: 1200px) {
    header{
        margin-top: 8rem;

        .header-flexbox{
            flex-direction: row-reverse;
        }

        .header-container{
            display: flex;
            flex-direction: column;
        }

        button.learnMore-btn{
            font-size: 20px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-right: 3em;
        }
    }
}